<div data-role="popup" id="confirmationPopup" data-overlay-theme="a" data-theme="b" data-dismissible="false">
    <h3>{{{localize message}}}</h3>
    <fieldset class="ui-grid-a">
	    <div class="ui-block-a"><button data-theme="b" id="yes-btn" data-inline="true">YES</button></div>
	    <div class="ui-block-b"><button data-theme="b" id="no-btn" data-inline="true">NO</button></div>	   
    </fieldset>
</div>

<!--
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">{{{localize message}}}</h3>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" id="yes-btn"
                data-dismiss="modal">YES
            </button>
            <button type="button" class="btn btn-default" id="no-btn">
                NO
            </button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->  

       
    <fieldset class="ui-grid-a">
	    <div class="ui-block-a"><button data-theme="b" id="yes-btn" data-inline="true">YES</button></div>
	    <div class="ui-block-b"><button data-theme="b" id="no-btn" data-inline="true">NO</button></div>	   
    </fieldset>
</div>
-->