<div class="odk-screen{{#unless disableSwipeNavigation}}{{#if enableNavigation}}{{#if enableForwardNavigation}} swipeForwardEnabled{{/if}}{{#if enableBackNavigation}} swipeBackEnabled{{/if}}{{/if}}{{/unless}}" >
    {{#if showHeader}}
        <div class="odk-header container" style="padding-top:10px;padding-bottom:10px;margin-bottom:30px">
            <div class="row my-breakpoint {{#if hideNavigationButtonText}}my-breakpoint-no-nav-btn-text{{/if}}">
                <div class="col-xs-6">
                    <button type="button" class="odk-options-btn btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" 
                            style="white-space:normal;width:100%">
                        <span>{{localize form_title}}</span>
                    </button>
                </div>
                <div class="col-xs-3" style="padding-left:0;padding-right:7">
                    <a class="odk-prev-btn btn btn-default btn-lg
                    {{#unless enableBackNavigation}}disabled{{/unless}}" 
                    role="button" style="width:100%;">
                    {{#unless hideNavigationButtonText}}<span class="glyphicon glyphicon-chevron-left" style="float:left"></span> back {{/unless}}</a> 
                </div>
                <div class="col-xs-3" style="padding-left:0;padding-right:15">   
                    <a class="odk-next-btn btn btn-default btn-lg
                    {{#unless enableForwardNavigation}}disabled{{/unless}}"
                    role="button" style="width:100%;">
                    {{#unless hideNavigationButtonText}}{{#if showAsContinueButton}}continue {{else}}next{{/if}}<span class="glyphicon glyphicon-chevron-right" style="float:right"></span>{{/unless}}</a>               
                </div>
            </div>
        </div>
    {{/if}}
    <div data-role="content" class="odk-scroll"><div class="odk-container"></div>
</div>

{{#if showFooter}} 
    <div class="odk-footer">
        <div class="ui-grid-b my-breakpoint {{#if hideNavigationButtonText}}my-breakpoint-no-nav-btn-text{{/if}}">
            <div class="ui-block-a">
                <a class="odk-prev-btn
                {{#unless enableBackNavigation}}ui-disabled{{/unless}}"
                data-role="button" data-icon="carat-l" data-iconpos="left" style="display:block;">{{#unless hideNavigationButtonText}}back{{/unless}}</a> 
            </div>
            <div class="ui-block-b">

            </div>
            <div class="ui-block-c">   
                <a class="odk-next-btn
                {{#unless enableForwardNavigation}}ui-disabled{{/unless}}"
                data-role="button" data-icon="carat-r" data-iconpos="right" style="display:block;">{{#unless hideNavigationButtonText}}{{#if showAsContinueButton}}continue{{else}}next{{/if}}{{/unless}}</a>               
            </div>
        </div>
    </div>
{{/if}}


